<html lang="pt" xml:lang="pt"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  </head>

  <body>


	
	
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<form action="/pedido" method="post">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <h3><span class="title" style="color:#F24452">JetDrinks - Botirama</span></h3>
                </div>
                
</div>

                 <div class="row" style=" border-top: solid; border-width: medium; border-width: 1px;padding-bottom:15px;padding-top:15px;">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img src="http://pbs.twimg.com/profile_images/631219625/Chopp_reasonably_small.JPG" class="img-responsive img-rounded">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="row "> 
                            <div class="name" style="margin-left:15px;margin-right:15px;" ><span style=" color:#F24452;">CHOPP BRAHMA</span><span> (300ml)</span></div>
							</div>
							<div class="row" >
							<div style="padding-left:15px;padding-right:15px;color:#3e8f3e;font-weight:bold">R$ 7,50</div>
							</div>
                        
<span class="row" >
              
			  <button class="btn btn-default col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="removeOne(1)" style="font-size:100%;">-</button>
				<input id="textInput1" type="text" value="0" name="demo3" class="btn col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size:100%;">
				<button class="btn btn-success col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="addOne(1)" style="font-size:100%;">+</button>
				<input type="hidden" id="price1" value="7.5">
            </span></div>
                    </div>

					
					<div class="row" style=" border-top: solid; border-width: medium; border-width: 1px;padding-bottom:15px;padding-top:15px;">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img src="http://woodmassasesalgados.com.br/loja3/images/guarana-antarctica-lata.png" class="img-responsive img-rounded">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="row "> 
                            <div class="name" style="margin-left:15px;margin-right:15px;" ><span style=" color:#F24452;">GUARANÁ ANTARCTITA</span><span> (350ml)</span></div>
							</div>
							<div class="row" >
							<div style="padding-left:15px;padding-right:15px;color:#3e8f3e;font-weight:bold">R$ 2,00</div>
							</div>
                        
<span class="row" >
              
			  <button class="btn btn-default col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="removeOne(2)" style="font-size:100%;">-</button>
				<input id="textInput2" type="text" value="0" name="demo3" class="btn col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size:100%;">
				<button class="btn btn-success col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="addOne(2)" style="font-size:100%;">+</button>
				<input type="hidden" id="price2" value="2.0">
            </span></div>
                    </div>
					
					<div class="row" style=" border-top: solid; border-width: medium; border-width: 1px;padding-bottom:15px;padding-top:15px;">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <img src="http://tse2.mm.bing.net/th?id=OIP.M0de15d85b860a293ca3a5ed61973abaao0&pid=15.1" class="img-responsive img-rounded">
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<div class="row "> 
                            <div class="name" style="margin-left:15px;margin-right:15px;" ><span style=" color:#F24452;">ÁGUA</span><span> (500ml)</span></div>
							</div>
							<div class="row" >
							<div style="padding-left:15px;padding-right:15px;color:#3e8f3e;font-weight:bold">R$ 2,00</div>
							</div>
                        
<span class="row" >
              
			  <button class="btn btn-default col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="removeOne(3)" style="font-size:100%;">-</button>
				<input id="textInput3" type="text" value="0" name="demo3" class="btn col-xs-4 col-sm-4 col-md-4 col-lg-4" style="font-size:100%;">
				<button class="btn btn-success col-xs-4 col-sm-4 col-md-4 col-lg-4" type="button" onclick="addOne(3)" style="font-size:100%;">+</button>
				<input type="hidden" id="price3" value="2.0">
            </span></div>
                    </div>
					
					
            </div>

<div class="row" style="height:750px"></div>

 <div class="container-fluid">

     
        
<div class = "row"><div class="col-sm-12 col-md-12 col-lg-12 col-xl-12"  >
<footer class="footer navbar-fixed-bottom " style="background:#F24452;padding: 15px 15px 15px 15px;">
<span class = "pull-left btn btn-lg" style="color:white;  ">Total<span id = "totalSpan"> R$ 0</span></span>
<input class="btn btn-success btn-lg pull-right"  href="#" role="button" style="background-color:#30df97; font-size:100%;" type="submit" value="Enviar Pedido">
<input type="hidden" name="mesa" value="<%=mesa%>">

    </footer>
</div></div>
      
	</div>
</form>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  

	<script>


var total =0;

		function addOne(id){
			var textInput = document.getElementById("textInput"+id);
			textInput.value = Number(textInput.value) + 1;

			var price = document.getElementById("price"+id);
			total += Number(price.value);
			updateTotalText();
		}

		function removeOne(id){
		var textInput = document.getElementById("textInput"+id);
		if(Number(textInput.value)>=1){
			
			textInput.value = Number(textInput.value) - 1;

			var price = document.getElementById("price"+id);
			total -= Number(price.value);
			updateTotalText();}
			
		}

		function updateTotalText(){
			var totalSpan = document.getElementById("totalSpan");
			totalSpan.innerHTML = " R$ "+total;
		}

		function order(id){
			//place order
		}

	</script>






</body></html>
