<!DOCTYPE html>
<html>
<head>
	<title>Gerenciamento Pedidos</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style type="text/css">
		.btn-danger {
			background-image: #f24452 !important
		}
	</style>
	<script>
		$(document).ready(function(){
			console.log('ready');
			
			setInterval(function(){
				$.get('/check', function(){
					// alert("hue");
				})
			.done(function(data){
				// alert("second success");
				if(data){
					console.log(data);
					for (var i = 0; i < data.length ; i++) {
						if(data[i]){
							var name = "#mesa" + data[i];
							console.log(name);
							$(name).removeClass("btn-primary").addClass("btn-danger");
						}
					};
				}
				// $("#mesa1").addClass("btn-danger");
			})
			}, 100);
		$('#myModal').on('show.bs.modal', function (event) {
		  var modal = $(this);
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var recipient = button.data('mesa') // Extract info from data-* attributes
		  console.log(recipient);
		  var url = '/check?mesa=' + recipient;

		  $.get(url, function(){})
		  .done(function(data){
		  	console.log(data);
		  	var sum = data[0]["chop"] + data[0]["agua"] + data[0]["refri"];
		  	console.log(sum);
			modal.find('.modal-title').text('Mesa ' + recipient);
			if(data[0]["chop"] > 0){
				$("#row-chop").addClass("danger");
			}
		  	$("#chop-qty").html(data[0]["chop"]);
		  	if(data[0]["refri"] > 0){
				$("#row-refri").addClass("danger");
			}
		  	$("#refri-qty").html(data[0]["refri"]);
		  	if(data[0]["agua"] > 0){
				$("#row-agua").addClass("danger");
			}
		  	$("#agua-qty").html(data[0]["agua"]);

		  });

		  $('#myModal').on('hidden.bs.modal', function(){
		  	url = '/entregue?mesa=' + recipient;
		  $.get(url, function(){})
		  .done(function(data){
		  	location.reload();
		  });
		  })

		});
		});
		
	</script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fix">
	  <div class="container-fluid" style="background-color: #f24452">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#" style="color: white;">Bar do Manuel</a>
	    </div>
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- <div class="row-fluid" style="margin-right: 500px"> -->
		<div class="row">
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 1</div> -->
		  	<button id="mesa1" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 10px;" data-toggle="modal" data-target="#myModal" data-mesa="1">Mesa 1</button>
		  	</div>
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 2</div> -->
		  	<button id="mesa2" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 10px;" data-toggle="modal" data-target="#myModal" data-mesa="2">Mesa 2</button>
		  </div>
		  <div class="col-md-3">
		  	<button id="mesa3" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 10px;" data-toggle="modal" data-target="#myModal" data-mesa="3">Mesa 3</button>
		  </div>
  		  <div class="col-md-3">
		  	<button id="mesa4" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 10px;" data-toggle="modal" data-target="#myModal" data-mesa="4">Mesa 4</button>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 1</div> -->
		  	<button id="mesa5" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="5">Mesa 5</button>
		  	</div>
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 2</div> -->
		  	<button id="mesa6" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="6">Mesa 6</button>
		  </div>
		  <div class="col-md-3">
		  	<button id="mesa7" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="7">Mesa 7</button>
		  </div>
  		  <div class="col-md-3">
		  	<button id="mesa8" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="8">Mesa 8</button>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 1</div> -->
		  	<button id="mesa9" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="9">Mesa 9</button>
		  	</div>
		  <div class="col-md-3">
		  	<!-- <div class="mesa"> 2</div> -->
		  	<button id="mesa10" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="10">Mesa 10</button>
		  </div>
		  <div class="col-md-3">
		  	<button id="mesa11" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="11">Mesa 11</button>
		  </div>
  		  <div class="col-md-3">
		  	<button id="mesa12" type="button" class="btn btn-primary center-block" style="border-radius: 0px; width: 200px; height: 200px; margin-top: 30px;" data-toggle="modal" data-target="#myModal" data-mesa="12">Mesa 12</button>
		  </div>
		</div>
	</div>

	<!-- Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Mesa 1</h4>
	        </div>
	        <div class="modal-body">
	          <table class="table table-condensed">
	          	<thead>
	          		<tr>
	          			<th>Pedido</th>
	          			<th>Quantidade</th>
	          		</tr>
	          	</thead>
	          	<tbody>
	          		<tr id="row-chop" class="active">
	          			<td>Chopp Brahma</td>
	          			<td id="chop-qty"></td>
	          		</tr>
	          		<tr id="row-refri" class="active">
	          			<td>Guaraná Antartica</td>
	          			<td id="refri-qty"></td>
	          		</tr>
	          		<tr id="row-agua" class="active">
	          			<td>Água</td>
	          			<td id="agua-qty"></td>
	          		</tr>
	          	</tbody>
	          </table>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-success" data-dismiss="modal">Entregue!</button>
	        </div>
	      </div>
	      
	    </div>
	</div>


</body>
</html>